// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
   position: relative;
   font-size: 16px;

  .padding {
   position: relative;
   padding: 10px;
  }

  .top {
    position: relative;
    margin-top: 10px;
  }

  #contact {
    form {
      .input-group-addon {
        position: relative;
        border-right: none;
        background-color: #FFF;
      }
      input[type=email],input[type=text], input[type=tel]{
       position: relative;
       height: 40px;
       border-left: none;
      }
      textarea {
        position: relative;
        height: 140px;
        resize: none;
      }
    }
  }

  // Footer
  footer {
   position: relative;
   margin-top: 50px;
   margin-bottom: 0px;
   padding-bottom: 50px;
  }

}
