<footer class='jumbotron'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="col-md-5">
            <ul class='list-unstyled'>
               <li><h2><strong>CODE7EVEN</strong></h2></li>
               <li><p>Código rápido e eficaz para seu neǵocio.</p></li>
               <li> <i class='glyphicon glyphicon-search'></i> <a>contato@code7even.com</a> |
                 <i class='glyphicon glyphicon-search'></i> (11) 97195-6599 </li>
            </ul><!-- list-unstyled -->
         </div><!-- col-md-2 -->
         <div class="col-md-2 col-md-offset-1">
           <ul class='list-unstyled'>
              <li><h4><i class='glyphicon glyphicon-search'></i> SITEMAP</h4></li>
           </ul><!-- list-unstyled -->
         </div><!-- col-md-2 -->
         <div class="col-md-2">
           <ul class='list-unstyled'>
             <li><h4><i class='glyphicon glyphicon-search'></i> LINKS UTEIS</h4></li>
           </ul><!-- list-unstyled -->
         </div><!-- col-md-2 -->
         <div class="col-md-2">
           <ul class='list--unstyled'>
             <li><h4><i class='glyphicon glyphicon-search'></i> EXTRAS</h4></li>
           </ul><!-- list-unstyled -->
         </div><!-- col-md-2 -->
      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</footer><!-- footer -->
